<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" [routerLink]="['home']">Simple Trello</a>
  <ul class="nav navbar-nav navbar-right" style="margin: 0px">
    <li *ngIf="!isLoggedIn()" class="nav-item">
      <a class="nav-link"  [routerLink]="['login']" [routerLinkActive]="['active']">login</a>
    </li>
    <li *ngIf="!isLoggedIn()" class="nav-item">
      <a class="nav-link"  [routerLink]="['register']" [routerLinkActive]="['active']">Register</a>
    </li>
    <li *ngIf="isLoggedIn()" class="nav-item">
      <a class="nav-link">{{currentUser}}</a>
    </li>
    <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Logout</a>
    </li>
  </ul>
</nav>
