<div class="board-wrapper">
<div class="board-base">
	<h3 style="padding: 0px 20px;margin: 0px;">
		<span style="display: inline-block;">{{board?.name}}</span>
		<!-- <input type="checkbox" [(ngModel)]="dragList"/> -->
		<!-- <button mat-button (click)= saveAll()>Save</button> -->
		<mat-spinner [diameter]="20" *ngIf="loading" style="display: inline-block;"></mat-spinner>
		<small *ngIf="loading" style="display: inline-block;">updating...</small>
	</h3>
	<div class="board-container">
	<div *ngIf="board" class="board" dnd-sortable-container [sortableData]="board.lists" [dropZones]="['container-dropZone']">
	    <div  *ngFor="let list of board.lists; let x= index" class="board-list" dnd-sortable [sortableIndex]="x" [dragEnabled]="dragList && !loading" (onDropSuccess)="sortList(list)" (mouseenter)="setDragList(true);">
		    <div class="panel panel-warning">
		        <div class="panel-heading">
		        {{list.name}}
		        <i class="material-icons" [matMenuTriggerFor]="menu">more_vert</i> 
				<mat-menu #menu="matMenu">
				  <button mat-menu-item (click)= addTask(list.id)>Add Task!</button>
				  <button mat-menu-item>Delete List</button>
				</mat-menu>
		        </div>
		        <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="list.tasklists" style="200px">
		            <ul class="list-group" *ngIf="list.tasklists.length" >
		                <li *ngFor="let item of list.tasklists; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i"  [dragEnabled]="!dragList && !loading"  (onDropSuccess)="sortMoveTask(item, list, number)" (mouseenter)="setDragList(false);$event.stopPropagation();" >
		                	{{item.name}} - {{item.orderNumber}}
		                </li>
		                <!-- (mouseenter)="setDragList(false);$event.stopPropagation();" (mouseleave)="setDragList(true);$event.stopPropagation();" -->
		            </ul>
		        </div>
		    </div>
	    </div>
	    <div class="board-list">
		    <div class="panel panel-warning" (click)= openDialog()>
		        <div class="panel-heading">
		        Add List
		        </div>
		    </div>
		    <div class="panel panel-warning">
		        <div class="panel-heading">
		        	Members
		        	<button mat-button [matMenuTriggerFor]="menu">
		        		Add
		        	</button>
		        	<mat-menu #menu="matMenu">
					  <mat-select placeholder="Assigned to" [(ngModel)]="newMember" (change)="addMember($event)">
					    <mat-option *ngFor="let user of users" [value]="user.id">
					      {{ user.username }}
					    </mat-option>
					  </mat-select>
					</mat-menu>
		        </div>
		    </div>
		    <div class="panel-body">
	            <ul class="list-group">
	                <li *ngFor="let item of board.members;" class="list-group-item">
	                	{{item.name}}
	                	<i class="material-icons" (click)="removeMember(item.id)">delete</i> 
	                </li>
	            </ul>
	        </div>
	    </div>
	</div>
	</div>
</div>
</div>