<div class="col-md-12">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile class="createBoard"
          [colspan]="1"
          [rowspan]="1"
          (click)="openDialog()">
            Create Board
      </mat-grid-tile>
      <mat-grid-tile
          *ngFor="let board of boards"
          [colspan]="1"
          [rowspan]="1"
          (click)="gotoBoard(board)"
          [style.background]="board.color"
          >
          <i class="material-icons" *ngIf="board.owner.id == currentUser.id" style="font-size: 32px;position: absolute;top: 0px;right: 0px;color: #fff;" (click)="deleteBoard(board.id);$event.stopPropagation();">delete</i> 
            {{board.name}}
      </mat-grid-tile>
    </mat-grid-list>
</div>
